/* You can add global styles to this file, and also import other style files */
.header{
  background-color:#922b21;
}

.strike{
  text-decoration : line-through;
}
body {
background-color:#f2d7d5;
color:#922b21;
}
#txtSearch::placeholder{
  color:#922b21;
}
#txtSearch{
  background-color:#f9ebea;
  border-color:#922b21;
}
.cusbtn{
  color:#922b21;
 
  
  }
  .btn-primary{
    background-color:#f2d7d5 !important;
    border-color: #922b21 !important;
  }

.floatright{
  border:1px solid #922b21;
  margin:1px;
  padding:1px;
}
h2 {
padding:20px;
}
.input-group{
  padding-left:20px;
  width:100%;
}
